

ul {
        list-style:none;
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }
li {
    margin: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
    .titulo {
        align-items: center;
    }
    